* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}
:root {
  --bg: #e7e7e7;
  --text-color: #f7f7f7;
  --padding-main: 30px;
  --padding-mobile: 15px;
  --primary-color: #1d2a5a;
  --radius: 10px;
  --welcome-color: #fff;
  --section-color: #2c3e50;
}
.darkmode {
  --bg: #444;
  --primary-color: #111;
  --welcome-color: #fff;
  --section-color: #222;
}

body {
  width: 100%;
  color: var(--text-color);
  background-color: var(--bg);
}
.container {
  width: 100%;
  height: 100vh;
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: 100%;
  height: 10vh;
  padding: 0 var(--padding-main);
}
.container nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container nav div h1 {
  font-size: 1.5rem;
}
.container nav div i {
  font-size: 1.5rem;
}
.container nav button {
  background-color: var(--text-color);
  padding: 8px 20px;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: bold;
}
.container nav button:hover {
  background: rgb(232, 231, 231);
}

main {
  width: 100%;
  height: 84vh;
  background-image: var(--dark-images);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 18%;
}
main section {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  background-color: var(--section-color);
  padding: 6px;
}
main section .talk {
  height: 6%;
  background-color: #fff;
  border-radius: var(--radius);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}
main section .chat-box {
  width: 100%;
  height: 80%;
  padding: 20px;
  overflow-y: auto;
}
main section .chat-box .welcome {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: var(--welcome-color);
  padding-top: 100px;
  font-weight: bold;
}
main section form {
  width: 100%;
  height: 14%;
  display: flex;
  gap: 10px;
  padding: 8px;
  background-color: #fff;
  border-top: 2px solid var(--text-color);
  border-radius: var(--radius);
}
main section form textarea {
  flex: 1;
  padding: 10px;
  border-radius: var(--radius);
  font-size: 1rem;
}
main section form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  font-weight: bold;
  border-radius: var(--radius);
  background: var(--primary-color);
  cursor: pointer;
  color: var(--text-color);
}
main section form button i {
  font-size: 1rem;
}
footer {
  width: 100%;
  height: 6vh;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LES CLASS JS */
.message-user {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 5px;
}
.message-bot {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 5px;
}
.message-user i,
.message-bot i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--text-color);
  color: #000;
}
.user .message-content {
  background-color: var(--text-color);
  color: #000;
  padding: 10px;
  width: 40%;
  border-radius: var(--radius);
}
.bot .message-content {
  background-color: var(--primary-color);
  padding: 10px;
  width: 50%;
  border-radius: var(--radius);
}
.chatbx {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#error {
  background:  #D32F2F;
  color: #ffffff;
  font-style: italic;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1000px) {
  main {
    padding: 20px var(--padding-main);
  }
}

@media (max-width: 600px) {
  .user .message-content,
  .bot .message-content {
    width: 80%;
  }
  main section .chat-box .welcome {
    font-size: 1rem;
  }
  footer {
    font-size: 0.8rem;
    height: 10vh;
  }
  .container nav {
    padding: 0 var(--padding-mobile);
  }
  main {
    padding: 10px var(--padding-mobile);
    height: 80vh;
  }
  main section form button {
    padding: 20px 20px;
  }
}
