* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}
:root {
  --text-color: #fff;
  --padding-main: 30px;
  --primary-color: green;
  --radius: 10px;
}
body {
  width: 100%;
  color: var(--text-color);
}
.container {
  width: 100%;
  height: 100vh;
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: 100%;
  height: 10vh;
  padding: 0 var(--padding-main);
  border-bottom: 2px solid var(--text-color);
}
.container nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container nav div h1 {
  font-size: 1.5rem;
}
.container nav div i {
  font-size: 1.5rem;
}
.container nav button {
  background-color: var(--text-color);
  padding: 8px 20px;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: bold;
}
.container nav button:hover {
  background: rgb(232, 231, 231);
}

main {
  width: 100%;
  height: 80vh;
  background-image: url("images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 15%;
}
main section {
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.2);
  border-radius: var(--radius);
  border: 2px solid var(--text-color);
}
main section .discussion {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  color: #000;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.2rem;
}
main section .chat-box {
  width: 100%;
  height: 80%;
  padding: 20px;
  overflow-y: auto;
}
main section .chat-box .welcome {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}
main section form {
  width: 100%;
  height: 15%;
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: var(--text-color);
  border-top: 2px solid var(--text-color);
  border-radius: var(--radius) var(--radius) 0 0;
}
main section form textarea {
  flex: 1;
  padding: 10px;
  border-radius: var(--radius);
  font-size: 1rem;
}
main section form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
  border-radius: var(--radius);
  background: var(--primary-color);
  cursor: pointer;
  color: var(--text-color);
}
main section form button i {
  font-size: 1rem;
}
/* footer  */
footer {
  width: 100%;
  height: 10vh;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--text-color);
}

/* js class */
.message-user {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 5px;
}
.message-bot {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 5px;
}
.message-user i,
.message-bot i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--text-color);
  color: #000;
}
.user .message-content {
  background-color: var(--text-color);
  color: #000;
  padding: 10px;
  width: 40%;
  border-radius: var(--radius);
}
.bot .message-content {
  background-color: rgb(36, 36, 127);
  padding: 10px;
  width: 50%;
  border-radius: var(--radius);
}
.chatbx {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* responsive */
@media (max-width: 1000px) {
  main {
    padding: 20px var(--padding-main);
  }
}

@media (max-width: 600px) {
  .user .message-content,
  .bot .message-content {
    width: 80%;
  }
}
